@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300;1,600&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    font-family: 'Poppins', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* CustomScrollbar.css */

/* Track */
.custom-scrollbar::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
}

/* Thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #666666; /* Color of the scrollbar thumb */
  border-radius: 3px;
}

/* Thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #474646; /* Color on hover */
  border-radius: 3px;
}

/* Track on hover */
.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: #d1d0d0; /* Track background on hover */
  border-radius: 3px;

}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #d1d0d0; /* Track background */
  border-radius: 3px;

}

